.list-container {
    background-color: rgb(243, 84, 84);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    color: white;
}

.title {
    font-size: 1.4rem;
    letter-spacing: 0.8px;
}

.plus-btn {
    border: none;
    background: none;
    color: transparent;
    text-shadow: 0 0 0 greenyellow;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.todos {
    height: 500px;
    overflow-y: auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    background: #3d3d3d;
}