#new-subtodo-form {
    padding-left: 40px;
}

#new-subtodo-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 50px;
    border: none;
    font-size: 0.8rem;
    outline: none;
    border-bottom: 0.01px solid greenyellow;
    background-color: #494747;
}

#new-subtodo-form input::placeholder {
    color: #28d9f5;
    font-size: 0.7rem;
}