.todo-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    color: white;
    border-bottom: 0.01px solid grey;
}

.todo-container>div {
    display: flex;
}

.todo-container:hover {
    cursor: pointer;
}

.todo-container:hover .remove-btn {
    visibility: visible;
    height: 30px;
    border: none;
    background: none;
    color: transparent;
    text-shadow: 0 0 0 red;
    margin: 0;
    padding: 0;
    font-size: 0.65rem;
}

.todo {
    font-weight: 400;
    font-size: 0.75rem;
    padding-left: 5px;
    width: 80%;
}

.todo-done {
    text-decoration: line-through;
}

.todo-container input {
    width: 10%;
}

.remove-btn {
    visibility: hidden;
    width: 10%;
}