.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#todolist {
  color: blue;
}

#todolist-list-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

#todolist-form {
  margin-top: 50px;
}
